* {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

html {
    display: flex;
    align-items: center;
    min-height: 100%;
}

body {
    max-width: 800px;
    margin: 10px auto;
    padding: 0 10px;
}

canvas {
    border: 1px solid;
}

output pre {
    overflow: auto;
    padding: 10px;
    background-color: #111111;
    border: 1px solid gray;
}